ul {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #fdc763;
    font-weight: 400;
    transition: all 0.3s;
}

a:hover{
    color: var(--link-selection);
    text-decoration: none;
}

li{
    padding: 4px;
}